<mat-accordion>
  <!-- <mat-expansion-panel [disabled]="locations?.length === 0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span>{{ 'pages.contract.machines' | translate }} <span *ngIf="locations?.length" class="badge badge-success">{{ locations?.length }}</span></span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-container *ngFor="let location of locations; trackBy: identifyLocation">
      <app-imported-machines-add-form></app-imported-machines-add-form>
    </ng-container>
  </mat-expansion-panel> -->
  <mat-expansion-panel [disabled]="item?.length === 0" [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h4 style="display: table; text-align: center;">
          <app-badge [isInvalid]="items?.invalid"></app-badge>
          {{ 'pages.contract.imported_machines' | translate }}
          <span *ngIf="item?.length" class="badge" [ngClass]="(items?.invalid) ? 'badge-danger' : 'badge-success'">{{ item?.length }}</span>
        </h4>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-accordion>
      <ng-container *ngFor="let importedMachine of item; trackBy: identifyImport; let i = index">
        <mat-expansion-panel [expanded]="expansionStep === i" (opened)="setStep(i)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h5>
                <app-badge [isInvalid]="items.at(i)?.invalid"></app-badge>
                {{ importedMachine.identification }}</h5>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-imported-machines-form [item]="importedMachine" (formReady)="childInitialized($event)"></app-imported-machines-form>
          <mat-action-row>
            <button type="button" mat-stroked-button color="warn" (click)="prevStep()" *ngIf="expansionStep !== 0">Previous</button>
            <button type="button" mat-stroked-button color="accent" (click)="nextStep()" *ngIf="expansionStep !== item.length -1">Next</button>
          </mat-action-row>
        </mat-expansion-panel>
      </ng-container>
  </mat-accordion>
  </mat-expansion-panel>
</mat-accordion>
