<div class="row">
  <div class="col-12 col-sm-auto">
    <button *ngIf="guard.hasEditorAccess()" [disabled]="disableAdd" mat-icon-button (click)="add()">
      <mat-icon matTooltip="{{ 'actions.add' | translate }}" matListIcon style="color: blueviolet">add
      </mat-icon>
    </button>
    <button mat-icon-button (click)="load()">
      <mat-icon matTooltip="{{ 'actions.refresh' | translate }}" matListIcon style="color: green">
        refresh</mat-icon>
    </button>
    <!-- TODO: uncomment when function export to pdf is ready -->
    <!-- <button *ngIf="guard.hasViewerAccess()" mat-icon-button (click)="export()"><mat-icon matTooltip="{{ 'actions.export.pdf' | translate }}" matListIcon style="color: black">picture_as_pdf</mat-icon></button> -->
    <ng-container *ngIf="($shortColumns | async); else extendColumns">
      <button mat-icon-button (click)="showMore()">
        <mat-icon matTooltip="{{ 'actions.show_columns.more' | translate }}" matListIcon style="color: green">
          unfold_more</mat-icon>
      </button>
    </ng-container>
    <ng-template #extendColumns>
      <button mat-icon-button (click)="showLess()">
        <mat-icon matTooltip="{{ 'actions.show_columns.less' | translate }}" matListIcon style="color: green">
          unfold_less</mat-icon>
      </button>
    </ng-template>
    <mat-form-field style="width: 120px;">
      <mat-select #deleteSelector [value]="selectedDeletedValue">
        <mat-option *ngFor="let option of deleteOptions; trackBy: identify" [value]="option">
          {{ 'deletedOptions.' + option | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-12 col-sm">
    <mat-paginator #paginator style="width: 350px" class="float-sm-right"></mat-paginator>
  </div>
</div>
