<div [formGroup]="form" class="row">
  <app-base-input class="col-4 col-sm-2" [parent]="this" [controlName]="'refContract'" [translateHolder]="'reference'"></app-base-input>
  <app-clients-auto-complete class="col-8 col-sm-5" [parent]="this" [controlName]="'client'" [useGlobal]="false"></app-clients-auto-complete>
  <app-base-input class="col-12 col-sm-5" [parent]="this" [controlName]="'identification'"></app-base-input>
  <app-date-input class="col-6 col-sm-4" [parent]="this" [controlName]="'dateDebut'"></app-date-input>
  <app-date-input class="col-6 col-sm-4" [parent]="this" [controlName]="'dateFin'"></app-date-input>
  <div class="row col-12 col-sm-4">
    <mat-checkbox class="col-6" formControlName="reviewed">{{ 'models.contract.reviewed' | translate }}</mat-checkbox>
    <mat-checkbox class="col-6" formControlName="valid">{{ 'models.contract.valid' | translate }}</mat-checkbox>
  </div>
  <app-base-input class="col-6 col-sm-4" [parent]="this" [controlName]="'loyer'" [type]="'number'"></app-base-input>
  <app-base-input class="col-6 col-sm-4" [parent]="this" [controlName]="'miniconso'" [type]="'number'"></app-base-input>
  <app-base-input class="col-12 col-sm-4" [parent]="this" [controlName]="'reconduction'" [type]="'number'"></app-base-input>
  <mat-accordion>
    <app-contracts-panel-imported-machines (formReady)="childInitialized($event)" [item]="item?.importedMachines"></app-contracts-panel-imported-machines>
    <app-contracts-panel-locations (formReady)="childInitialized($event)" [item]="item?.locations" [expanded]="item?.locations.length > 0"></app-contracts-panel-locations>
  </mat-accordion>
</div>
