<div [formGroup]="form" class="row">
  <app-base-input class="col-4" [parent]="this" [controlName]="'refClient'" [translateHolder]="'reference'"></app-base-input>
  <app-base-input class="col-8" [parent]="this" [controlName]="'nickname'"></app-base-input>
  <app-base-input class="col-6" [parent]="this" [controlName]="'name'"></app-base-input>
  <!-- TODO: put complete data of client. -->
  <!-- <app-base-input class="col-6" [parent]="this" [controlName]="'surname'"></app-base-input>
  <app-base-input class="col-6" [parent]="this" [controlName]="'group'"></app-base-input>
  <app-base-input class="col-6" [parent]="this" [controlName]="'company_name'"></app-base-input>
  <app-base-input class="col-4" [parent]="this" [controlName]="'score'"></app-base-input>
  <app-base-input class="col-4" [parent]="this" [controlName]="'sector'"></app-base-input>
  <mat-checkbox class="col-4" formControlName="forbidden">{{ 'models.client.forbidden' | translate }}</mat-checkbox>
  <app-base-input class="col-12 col-sm-6" [parent]="this" [controlName]="'email'"></app-base-input>
  <app-base-input class="col-12 col-sm-6" [parent]="this" [controlName]="'vat'"></app-base-input> -->
</div>
