<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>
        <ng-container *ngIf="contract; else register">
          <h2>
            <span>{{ 'pages.contract.title.edit' | translate }}</span>
            <strong> #{{ contract.refContract }}</strong>
          </h2>
        </ng-container>
        <ng-template #register>
          <h2>{{ 'pages.contract.title.add' | translate }}</h2>
        </ng-template>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="d-flex justify-content-center" *ngIf="(loading$ | async); else loaded">
        <mat-spinner></mat-spinner>
      </div>
      <ng-template #loaded>
        <app-base-notification-simple [notification]="notification"></app-base-notification-simple>
        <div class="row">
          <app-base-input class="col-4 col-sm-2" [parent]="this" [controlName]="'refContract'"></app-base-input>
          <app-base-input class="col-8 col-sm-5" [parent]="this" [controlName]="'identification'"></app-base-input>
          <app-clients-auto-complete class="col-12 col-sm-5" [parent]="this" [controlName]="'client'" [useGlobal]="false"></app-clients-auto-complete>
          <app-date-input class="col-6 col-sm-4" [parent]="this" [controlName]="'dateDebut'"></app-date-input>
          <app-date-input class="col-6 col-sm-4" [parent]="this" [controlName]="'dateFin'"></app-date-input>
          <div class="row col-12 col-sm-4">
              <mat-checkbox class="col-6" formControlName="reviewed">{{ 'models.contract.reviewed' | translate }}</mat-checkbox>
              <mat-checkbox class="col-6" formControlName="valid">{{ 'models.contract.valid' | translate }}</mat-checkbox>
            </div>
          <app-base-input class="col-6 col-sm-4" [parent]="this" [controlName]="'loyer'"></app-base-input>
          <app-base-input class="col-6 col-sm-4" [parent]="this" [controlName]="'miniconso'"></app-base-input>
          <app-base-input class="col-12 col-sm-4" [parent]="this" [controlName]="'reconduction'"></app-base-input>
        </div>
      </ng-template>
      <app-contracts-machine-panel [locations]="contract?.locations" [imports]="contract?.importedMachines"></app-contracts-machine-panel>
    </mat-card-content>
    <mat-card-actions>
      <div class="row">
        <div class="col-6">
          <button mat-raised-button color="primary" type="submit" [disabled]="!isValid()" style="width: 100%">
            <mat-icon matTooltip="{{ 'actions.submit' | translate }}" matListIcon>add</mat-icon>
            {{ 'actions.submit' | translate }}
          </button>
        </div>
        <div class="col-6">
          <button mat-raised-button color="accent" type="reset" (click)="resetForm()" style="width: 100%">
            <mat-icon matTooltip="{{ 'actions.clear_form' | translate }}" matListIcon>clear_all</mat-icon>
            {{ 'actions.clear_form' | translate }}
          </button>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
</form>
