<mat-form-field [formGroup]="parent.form" style="width: 100%">
  <input (focus)="onFocus()" [appFocusDirective]="customFocus"
    placeholder="{{ placeHolder | translate }}" formControlName="{{ controlName }}"
    [matAutocomplete]="auto" matInput type="{{ type }}" (keydown)=onKeydownEvent($event)>
  <mat-autocomplete (optionSelected)="optionSelected.emit($event.option.value)" #auto="matAutocomplete" autoActiveFirstOption [displayWith]="displayFn.bind(this)" position="below">
    <ng-container *ngIf="loading$ | async; else loaded">
      <mat-option><mat-spinner [diameter]="40" style="margin:0 auto;"></mat-spinner></mat-option>
    </ng-container>
    <ng-template #loaded>
      <mat-option *ngFor="let option of filteredOptions$ | async; trackBy: identify" [value]="option">
        <span>{{ option.refContract }}</span> |
        <small>{{ option.identification }}</small>
      </mat-option>
    </ng-template>
  </mat-autocomplete>
  <mat-error *ngIf="hasError()">
    <ng-container *ngIf="isRequiredError()">
      {{ 'fields.errors.required' | translate }}
    </ng-container>
  </mat-error>
  <mat-icon (click)="clear()" matSuffix matTooltip="{{ 'actions.cancel' | translate }}" class="icons-color">cancel</mat-icon>
</mat-form-field>
