<app-base-table-toolbar #toolbar [implementation]="this" [selectedDeletedValue]="deletedOption" [disableAdd]="true">
</app-base-table-toolbar>
<div class="mat-elevation-z8 table-responsive">
  <table [hidden]="(dataSource.loading$ | async)" mat-table class="col-12" [dataSource]="dataSource" matSort aria-label="Elements">

    <ng-container matColumnDef="reference" sticky>
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'models.contract.refContract' | translate }}</th>
      <td mat-cell *matCellDef="let row" class="col-fit">
        {{row.refContract}}
      </td>
    </ng-container>

    <ng-container matColumnDef="identification">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'models.contract.identification' | translate }}</th>
      <td mat-cell *matCellDef="let row" class="col-fit">{{row.identification}}</td>
    </ng-container>

    <ng-container matColumnDef="client">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'models.contract.client' | translate }}</th>
      <td mat-cell *matCellDef="let row" class="col-fit">
        <app-clients-cell [client]="row.client" [refClient]="row.refClient"></app-clients-cell>
      </td>
    </ng-container>

    <ng-container matColumnDef="dateDebut">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'models.contract.dateDebut' | translate }}</th>
      <td mat-cell *matCellDef="let row" class="col-fit">{{row.dateDebut | date: 'MM/dd/yyyy' }}</td>
    </ng-container>

    <ng-container matColumnDef="dateFin">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'models.contract.dateFin' | translate }}</th>
      <td mat-cell *matCellDef="let row" class="col-fit">{{row.dateFin | date: 'MM/dd/yyyy' }}</td>
    </ng-container>

    <ng-container matColumnDef="locations">
      <th mat-header-cell *matHeaderCellDef>{{ 'models.contract.machines' | translate }}</th>
      <td mat-cell *matCellDef="let row" class="col-fit">{{ row.locations?.length }}</td>
    </ng-container>

    <ng-container matColumnDef="loyer">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'models.contract.loyer' | translate }}</th>
      <td mat-cell *matCellDef="let row" class="col-fit">{{row.loyer}}</td>
    </ng-container>

    <ng-container matColumnDef="miniconso">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'models.contract.miniconso' | translate }}</th>
      <td mat-cell *matCellDef="let row" class="col-fit">{{row.miniconso}}</td>
    </ng-container>

    <ng-container matColumnDef="reconduction">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'models.contract.reconduction' | translate }}</th>
      <td mat-cell *matCellDef="let row" class="col-fit">{{row.reconduction}}</td>
    </ng-container>

    <ng-container matColumnDef="options" stickyEnd>
      <th mat-header-cell *matHeaderCellDef>
        <mat-icon matTooltip="{{ 'models.common.options' | translate }}" matListIcon>settings</mat-icon>
      </th>
      <td mat-cell *matCellDef="let row">
        <ng-container *ngIf="!row.reviewed; else reviewed">
            <button type="button" mat-icon-button (click)="changeValidation(row)"><mat-icon matTooltip="{{ 'actions.not_review.verb' | translate }}" matListIcon style="color: red">report</mat-icon></button>
        </ng-container>
        <ng-template #reviewed>
            <button type="button" mat-icon-button><mat-icon matTooltip="{{ 'actions.review.state' | translate }}" matListIcon style="color: green">done</mat-icon></button>
        </ng-template>
        <ng-container *ngIf="!row.valid; else valid">
            <button type="button" mat-icon-button (click)="changeValidation(row)"><mat-icon matTooltip="{{ 'actions.valid.verb' | translate }}" matListIcon style="color: gray">flag</mat-icon></button>
        </ng-container>
        <ng-template #valid>
            <button type="button" mat-icon-button (click)="changeValidation(row)"><mat-icon matTooltip="{{ 'actions.invalid.verb' | translate }}" matListIcon style="color: green">flag</mat-icon></button>
        </ng-template>
        <app-contracts-table-options [entity]="row"></app-contracts-table-options>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="getDisplayedColumns(); sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: getDisplayedColumns(); let i = index;"></tr>
  </table>
</div>
<div class="aligner" *ngIf="(dataSource.loading$ | async)">
  <mat-spinner color="primary" mode="indeterminate"></mat-spinner>
</div>
