<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>
        <ng-container *ngIf="address; else register">
          <h2>
            <span>{{ 'pages.address.title.edit' | translate }}</span>
            <strong> #{{ address.id }}</strong>
          </h2>
        </ng-container>
        <ng-template #register>
          <h2>{{ 'pages.address.title.add' | translate }}</h2>
        </ng-template>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="d-flex justify-content-center" *ngIf="(loading$ | async); else loaded">
        <mat-spinner></mat-spinner>
      </div>
      <ng-template #loaded>
        <app-base-notification-simple [notification]="notification"></app-base-notification-simple>
        <div class="row">
          <!-- <app-base-input [controlName]="'client'" [placeHolder]="'models.address.client'" [hasError]="hasFieldError('client')"></app-base-input> -->
          <mat-form-field class="col-12 col-sm-7">
            <input matInput placeholder="{{ 'models.address.client' | translate }}" formControlName="client" type="text">
            <mat-error *ngIf="hasFieldError('client')">
              {{ 'fields.errors.required' | translate }}
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-12 col-sm-5">
            <input matInput placeholder="{{ 'models.address.name' | translate }}" formControlName="name" type="text">
            <mat-error *ngIf="hasFieldError('name')">
              {{ 'fields.errors.required' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-3">
            <input matInput placeholder="{{ 'models.address.number' | translate }}" formControlName="number" type="number">
            <mat-error *ngIf="hasFieldError('number')">
              {{ 'fields.errors.required' | translate }}
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-9">
            <input matInput placeholder="{{ 'models.address.street' | translate }}" formControlName="street" type="text">
            <mat-error *ngIf="hasFieldError('street')">
              {{ 'fields.errors.required' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row">
        <mat-form-field class="col-12">
            <input matInput placeholder="{{ 'models.address.complement' | translate }}" formControlName="complement" type="text">
            <mat-error *ngIf="hasFieldError('complement')">
              {{ 'fields.errors.required' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-6 col-sm-3">
            <input matInput placeholder="{{ 'models.address.postal-code' | translate }}" formControlName="postalCode" type="text">
            <mat-error *ngIf="hasFieldError('postalCode')">
              {{ 'fields.errors.required' | translate }}
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-6 col-sm-6">
            <input matInput placeholder="{{ 'models.address.city' | translate }}" formControlName="city" type="text">
            <mat-error *ngIf="hasFieldError('city')">
              {{ 'fields.errors.required' | translate }}
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-12 col-sm-3">
              <input matInput placeholder="{{ 'models.address.country' | translate }}" formControlName="country" type="text">
              <mat-error *ngIf="hasFieldError('country')">
                {{ 'fields.errors.required' | translate }}
              </mat-error>
            </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-12 col-sm-7">
            <input matInput placeholder="{{ 'models.address.telephone' | translate }}" formControlName="telephone" type="tel">
            <mat-error *ngIf="hasFieldError('telephone')">
              {{ 'fields.errors.required' | translate }}
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-12 col-sm-5">
            <input matInput placeholder="{{ 'models.address.attendant' | translate }}" formControlName="attendant" type="text">
            <mat-error *ngIf="hasFieldError('attendant')">
              {{ 'fields.errors.required' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-12 col-sm-6">
            <input matInput placeholder="{{ 'models.address.type' | translate }}" formControlName="type" type="text">
            <mat-error *ngIf="hasFieldError('type')">
              {{ 'fields.errors.required' | translate }}
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-12 col-sm-6">
            <input matInput placeholder="{{ 'models.address.delivery' | translate }}" formControlName="delivery" type="text">
            <mat-error *ngIf="hasFieldError('delivery')">
              {{ 'fields.errors.required' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-4">
            <input matInput placeholder="{{ 'models.address.latitude' | translate }}" formControlName="latitude" type="number">
            <mat-error *ngIf="hasFieldError('latitude')">{{ 'fields.errors.required' | translate }}</mat-error>
          </mat-form-field>
          <mat-form-field class="col-4">
            <input matInput placeholder="{{ 'models.address.longitude' | translate }}" formControlName="longitude" type="number">
            <mat-error *ngIf="hasFieldError('longitude')">
              {{ 'fields.errors.required' | translate }}
            </mat-error>
          </mat-form-field>
            <button mat-icon-button>
              <mat-icon matTooltip="{{ 'actions.map.see' | translate }} {{ 'side-nav.address' | translate }}"
              class="icons-color" matListIcon>map</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon matTooltip="{{ 'actions.map.validate' | translate }}"
              class="icons-color" matListIcon>refresh</mat-icon>
            </button>
        </div>
      </ng-template>
    </mat-card-content>
    <mat-card-actions>
      <div class="row">
      <div class="col-6">
      <button mat-raised-button color="primary" type="submit" [disabled]="!isValid()" style="width: 100%">
        <mat-icon matTooltip="{{ 'actions.submit' | translate }}" matListIcon>add</mat-icon>
        {{ 'actions.submit' | translate }}
      </button>
    </div>
    <div class="col-6">
      <button mat-raised-button color="accent" type="reset" (click)="resetForm()" style="width: 100%">
        <mat-icon matTooltip="{{ 'actions.clear_form' | translate }}" matListIcon>clear_all</mat-icon>
        {{ 'actions.clear_form' | translate }}
      </button>
    </div>
  </div>
    </mat-card-actions>
  </mat-card>
</form>
