<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>
        <ng-container *ngIf="address; else register">
          <h2>
            <span>{{ 'pages.address.title.edit' | translate }}</span>
            <strong> #{{ address.id }}</strong>
          </h2>
        </ng-container>
        <ng-template #register>
          <h2>{{ 'pages.address.title.add' | translate }}</h2>
        </ng-template>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="d-flex justify-content-center" *ngIf="(loading$ | async); else loaded">
        <mat-spinner></mat-spinner>
      </div>
      <ng-template #loaded>
        <app-base-notification-simple [notification]="notification"></app-base-notification-simple>
        <div class="row">
            <app-clients-auto-complete class="col-12 col-sm-7" [parent]="this" [controlName]="'client'"></app-clients-auto-complete>
          <!-- <app-base-input class="col-12 col-sm-7" [parent]="this" [controlName]="'client'"></app-base-input> -->
          <app-base-input class="col-12 col-sm-5" [parent]="this" [controlName]="'name'"></app-base-input>
          <app-base-input class="col-3" [parent]="this" [controlName]="'number'"></app-base-input>
          <app-base-input class="col-9" [parent]="this" [controlName]="'street'"></app-base-input>
          <app-base-input class="col-12" [parent]="this" [controlName]="'complement'"></app-base-input>
          <app-base-input class="col-6 col-sm-3" [parent]="this" [controlName]="'postal_code'"></app-base-input>
          <app-base-input class="col-6 col-sm-6" [parent]="this" [controlName]="'city'"></app-base-input>
          <app-base-input class="col-12 col-sm-3" [parent]="this" [controlName]="'country'"></app-base-input>
          <app-base-input class="col-12 col-sm-7" [parent]="this" [controlName]="'telephone'"></app-base-input>
          <app-base-input class="col-12 col-sm-5" [parent]="this" [controlName]="'restaurant_name'"></app-base-input>
          <app-base-input class="col-12 col-sm-6" [parent]="this" [controlName]="'type'"></app-base-input>
          <app-base-input class="col-12 col-sm-6" [parent]="this" [controlName]="'delivery'"></app-base-input>
          <app-base-input class="col-4" [parent]="this" [controlName]="'latitude'"></app-base-input>
          <app-base-input class="col-4" [parent]="this" [controlName]="'longitude'"></app-base-input>
          <button mat-icon-button>
            <mat-icon matTooltip="{{ 'actions.map.see' | translate }} {{ 'side-nav.address' | translate }}"
              class="icons-color" matListIcon>map</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon matTooltip="{{ 'actions.map.validate' | translate }}" class="icons-color" matListIcon>refresh
            </mat-icon>
          </button>
        </div>
      </ng-template>
    </mat-card-content>
    <mat-card-actions>
      <div class="row">
        <div class="col-6">
          <button mat-raised-button color="primary" type="submit" [disabled]="!isValid()" style="width: 100%">
            <mat-icon matTooltip="{{ 'actions.submit' | translate }}" matListIcon>add</mat-icon>
            {{ 'actions.submit' | translate }}
          </button>
        </div>
        <div class="col-6">
          <button mat-raised-button color="accent" type="reset" (click)="resetForm()" style="width: 100%">
            <mat-icon matTooltip="{{ 'actions.clear_form' | translate }}" matListIcon>clear_all</mat-icon>
            {{ 'actions.clear_form' | translate }}
          </button>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
</form>
