<span *ngIf="client">
  {{ client.refClient }}
  <ng-container *ngIf="withName; else noDeleted">
    <span> - {{ client.nom }}</span>
    <button mat-icon-button (click)="withName = false"><mat-icon matTooltip="{{ 'actions.show_less' | translate }}" matListIcon style="color: red">expand_less</mat-icon></button>
  </ng-container>
  <ng-template #noDeleted>
    <button mat-icon-button (click)="withName = true"><mat-icon matTooltip="{{ 'actions.show_more' | translate }}" matListIcon style="color: green">expand_more</mat-icon></button>
  </ng-template>
</span>
<ng-template #reference>
  {{ refClient }}
</ng-template>
