<mat-form-field [formGroup]="parent.form" style="width: 100%">
  <mat-label>{{ 'models.task.type' | translate }}</mat-label>
  <mat-select [value]="selectedValue" formControlName="{{ controlName }}">
    <mat-option *ngFor="let option of options; trackBy: identify" [value]="option">
      {{ 'models.task.types.' + option.toLowerCase() | translate }}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="hasError()">
    <ng-container *ngIf="isRequiredError()">
      {{ 'fields.errors.required' | translate }}
    </ng-container>
  </mat-error>
</mat-form-field>
