<div [formGroup]="form" class="row">
  <app-contracts-auto-complete class="col-12 col-sm-6" [parent]="this" [controlName]="'contract'"></app-contracts-auto-complete>
  <app-base-input class="col-12 col-sm-6" [parent]="this" [controlName]="'identification'"></app-base-input>
  <app-base-input class="col-6" [parent]="this" [controlName]="'id'"></app-base-input>
  <mat-checkbox class="col-6" formControlName="reviewed">{{ 'models.contract.reviewed' | translate }}</mat-checkbox>
</div>
<app-machines-form (formReady)="childInitialized($event)"></app-machines-form>
